@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
    --font-geist-mono: 'Geist Mono', 'monospace';
  }
}

@keyframes pulse {
  0%,
  100% {
    opacity: 0.3;
  }
  50% {
    opacity: 0.7;
  }
}

.animate-pulse {
  animation: pulse 0.8s cubic-bezier(0.4, 0, 0.6, 1) infinite;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-geist-mono);
}
